@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "New Peninim MT";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NewPeninimMT.ttc");
}

@font-face {
  font-family: "Tuesday";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/TuesdayNight-Regular.otf");
}

@font-face {
  font-family: "Andale Mono Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Andalemo.woff");
}

@font-face {
  font-family: "Copperplate";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/OPTICopperplate.otf");
}
